$dark-green: #2A3B31;
$green: #9CA890;
$light-green: #DBE5B7;

$dark-blue: #353A4D;
$blue: #556573;
$light-blue: #A2A1AF;

$dark-grey: #46474C;
$grey: #8A8A8C;
$light-grey: #D3D7E0;
$lightest-grey: #f5f5f5;

$dark-brown: #00010D;
$brown: #402727;
$light-brown: #BCAC9F;
$lightest-brown: #fffaf0;

.dark-green {
    background-color: $dark-green
}
.green {
    background-color: $green
}
.light-green {
    background-color: $light-green
}


.dark-blue {
    background-color: $dark-blue
}
.blue {
    background-color: $blue
}
.light-blue {
    background-color: $light-blue
}

.dark-grey {
    background-color: $dark-grey
}
.grey {
    background-color: $grey
}
.light-grey {
    background-color: $light-grey
}
.lightest-grey {
    background-color: $lightest-grey
}

.dark-brown {
    background-color: $dark-brown
}
.brown {
    background-color: $brown
}
.light-brown {
    background-color: $light-brown
}
.lightest-brown {
    background-color: $lightest-brown
}
