---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "colors";
@import "style-guide";
$text-color: $dark-grey;
$background-color: lighten($lightest-grey, 3%);
$brand-color: $green;

$grey-color: $grey;
$grey-color-light: $light-grey;
$grey-color-dark: $dark-grey;

h1, .site-title{
    font-family: urw-antiqua, sans-serif;
}

p, .post-meta {
    font-family: ff-speak-web, sans-serif;
}

body, .site-header, .site-footer, h2, h3 {
    font-family: metallophile-sp8, sans-serif;
}

.footer-col-3 p {
    font-family: fenway-park-jf, sans-serif;
}

.footer-col-3 p {
    color: $blue;
}


@import "{{ site.theme }}";

.site-title {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 50px;
    letter-spacing: 5px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: $green;
    &:visited{
        color: $green;
    }
    &:hover {
        color: $light-green;
        text-decoration: none;
    }
}

.wrapper a.site-title {
    color: $green;
}

.site-header{
    border-bottom: 5px solid $dark-blue;
}

.site-footer{
    border-top: 1px solid $dark-blue;
}

.post-list {
    li {
        text-align: center;
        padding-bottom: 15px;
    }
    img {
        max-height: 60vh;
    }
    a.post-link {
        &:hover{
            text-decoration: none;
            color: $blue;
        }
    }
}

.rss-subscribe {
    text-align: center;
}

.site-nav {
    width: 100%;
    text-align: center;
    .page-link {
        padding: 20px;
        text-transform: lowercase;
    }
}

@media screen and (max-width: 600px) {
    .site-title {
        font-size: 24px;
        padding-top: 40px;
    }
    .site-nav {
        width: unset;
        text-align: unset;
    }
}